/* Resetování základních stylů prohlížeče */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0f172a; /* břidlicová tmavá slate-900 */
  font-family: 'Roboto Mono', monospace, sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}